.section_produits{
    padding: 40px 5%;
}
.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
}
.produits .carte{
    width: 310px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0 , 0 , 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.produits .carte img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.produits .carte .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .carte .titre{
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px;
}
.produits .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.produits .carte .prix{
    color:  burlywood;
    font-size: 20px;
    font-weight: bold;
}
.produits .carte .achat{
    font-size: 13px;
    font-weight: 900;
    color: burlywood;
    padding: 10px 18px;
    border-radius: 1px solid burlywood;
}
.produits .carte .box .achat:hover{
    cursor: pointer;
    background: black;
    color:white;
}